body {
    font-size:16px;
    font-family: 'Dosis', sans-serif;
}

.btn-acheter-billet{
    border:1.3px solid #00e5c4;
    font-size: 18px;
    padding: 7px 12px;
    text-decoration:none;
    color: #00e5c4;
    font-weight: 600;
    transition: 0.4s ease;
    display: inline-block;
    &:hover{
        color:white;
        background: #00e5c4;
        text-decoration: none;
    }
}

h2 {
    font-size: 30px;
    font-weight: 600;
    color:#00e5c4;
    text-align: center;
    padding: 50px 0 30px 0;
    text-transform: uppercase;
}


div#responsive-menu-container {
    padding-top: 54px;
}
