.panier-page {
    h1 {
        font-size: 30px;
        font-weight: 600;
        color:#00e5c4;
        padding: 80px 0 30px 0;
        text-transform: uppercase;
    }
    .etapes {
        }

    .billets {
        margin-top: 20px;
    }
    .infos {
        margin: 10px 0 20px 0;
        background: black;
        padding:20px;
        color: white;

    }
    .img-artiste {
        width: 190px;
        height: 140px;
        overflow: hidden;
        padding-right: 20px;
    }
    .btn-acheter-billet{
        margin-bottom: 40px;
        float: right;
    }
    .vert {
        color:#00e5c4;
    }
    .logos-paiements {
        padding: 30px;
    }
}

@media screen and (max-width: 992px) {
    .panier-page {
        padding: 20px;
    }
    .img-artiste {
        margin-bottom:20px;
    }
}
